<nav>
  <div class="site-title">
    <a href="/"><h1>Stella Blogs</h1></a>
    <p>Stella Lucida's notes</p>
  </div>
  <ul>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/about">Over</a></li>
    <li><a href="/blogs/create">Nieuwe blog</a></li>
  </ul>
</nav>