<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>Welkom bij mijn blog!</h2>
    <p>Je kunt zelf ook blogs maken :)</p>
    </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
